* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.flx-c-rw {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.ct1-c1 {
    height:15vh;
    background: skyblue;
    width:50%;  
}

.ct1-c2 {
    height:15vh;
    background: skyblue;
    width:50%; 
    text-align: center;
    vertical-align:middle;
}

.ct1-c1-content {
    margin-right: 5rem;
}

.ct1-c1 i {
    font-size: 2rem;
    display: inline-block;    
    margin-right: 2rem;
}

.ct1-c1 h1 {
    display: inline-block;
    font-size: 5vh;
}

.ct1-c2 .fl {
    width:20%;
    height:100%;
    border:2px solid green;        
}

.ct1-c2 .fl a {
    text-decoration: none;
    font-size: 1.5rem;
    color:black;
}

.ct1-c2 .l1:hover {
    background: rgb(44, 166, 214);
}

.ct1-c2 .l2:hover {
    background: tomato;
}

.ct1-c2 .l3:hover {
    background: rgb(218, 171, 86);
}

.ct1-c2 .l4:hover {
    background: rgb(92, 224, 92);
}

.ct1-c2 .l5:hover {
    background: rgb(93, 93, 214);
}

.image {
    width:25%;
    height:320px;
}

.im1 {
    background: url("coffee.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im2 {
    background: url("pie.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im3 {
    background: url("wedding.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im4 {
    background: url("sunset.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im5 {
    background: url("chairs.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im6 {
    background: url("snow.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im7 {
    background: url("snb.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im8 {
    background: url("roof.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im9 {
    background: url("eagle.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im10 {
    background: url("bahamas.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im11 {
    background: url("beach.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im12 {
    background: url("cave.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.im13 {
    background: url("theatre.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im14 {
    background: url("vinyl.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im15 {
    background: url("hiking.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im16 {
    background: url("flower.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.sq {
    height:3.5rem;
    width:3.5rem;
    background: white;
    border:1px solid green;
}

.sq:not(:last-child){
    margin-right:0.5rem;
}

.container3 {
    padding-bottom:1.5rem;
    background: skyblue;
    overflow: auto;
}
.icons {
    margin-top:3.5rem;
}

.container4 {
    padding:2rem 2rem;
    background: slateblue;
}