* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.flx-c-rw {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.container1 {
    background: skyblue;
}

.ct1-c1 {
    height:15vh;
    background: skyblue;
    width:50%;  
    position: relative;
}

.ct1-c2 {
    height:15vh;
    background: skyblue;
    width:50%; 
    text-align: center;
    vertical-align:middle;
}

.ct1-c1-content {
    margin-right: 5rem;
}

.ct1-c1 i {
    font-size: 4rem;
    display: inline-block;    
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.ct1-c1 h1 {
    display: inline-block;
    font-size: 5vh;
}

.ct1-c1 .m-dropdown {
  
    text-align: center;
    vertical-align: middle;

}

.ct1-c2 .fl {
    width:20%;
    height:100%;
    border:2px solid green;        
}

.ct1-c2 .fl a {
    text-decoration: none;
    font-size: 1.5rem;
    color:black;
}

.ct1-c2 .l1:hover {
    background: rgb(44, 166, 214);
}

.ct1-c2 .l2:hover {
    background: tomato;
}

.ct1-c2 .l3:hover {
    background: rgb(218, 171, 86);
}

.ct1-c2 .l4:hover {
    background: rgb(92, 224, 92);
}

.ct1-c2 .l5:hover {
    background: rgb(93, 93, 214);
}

.image {
    width:25%;
    height:320px;
}

.im1 {
    background: url("coffee.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im2 {
    background: url("pie.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im3 {
    background: url("wedding.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im4 {
    background: url("sunset.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im5 {
    background: url("chairs.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im6 {
    background: url("snow.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im7 {
    background: url("snb.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im8 {
    background: url("roof.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im9 {
    background: url("eagle.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im10 {
    background: url("bahamas.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im11 {
    background: url("beach.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im12 {
    background: url("cave.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.im13 {
    background: url("theatre.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im14 {
    background: url("vinyl.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im15 {
    background: url("hiking.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.im16 {
    background: url("flower.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.sq {
    height:3.5rem;
    width:3.5rem;
    background: white;
    border:1px solid green;
}

.sq:not(:last-child){
    margin-right:0.5rem;
}

.container3 {
    padding-bottom:1.5rem;
    background: skyblue;
    overflow: auto;
}
.icons {
    margin-top:3.5rem;
}

.container4 {
    padding:2rem 2rem;
    background: slateblue;
}

.m-dropdown {
    width:30px;
    height:30px;
    background: white;
}

/* dopdown */

.dropbtn {
    background-color: white;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {    
    display: inline-block;
    display: inline-block;
    position: absolute;
    right:-7rem;
    top:1.6rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
  }

@media screen and (max-width:500px){
    .ct1-c2 {
        display:none;
    } 

    .ct1-c1 {
        width:100%;
        height:100%;
        margin-right:25%;
    }

   .ct1-c1 i {
    margin-bottom: 1rem;
   }

   .ct1-c1 h1 {
       width: 60%;
   }

    .ct1-c1-content {
        justify-content: space-around;
    }

    .ct1-c1 h1 {
        font-size: 1.5rem;
        display:inline-block
    }

    .image {
        width:100%;
    }
}

@media screen and (max-width:1000px){
    .ct1-c2 {
        display:none;
    } 

    .ct1-c1 {
        width:100%;
        height:8vh;
        margin-right:25%;
    }

    .m-dropdown {
        display: none;
    }

    .ct1-c1 i {
        font-size: 1.5rem;
    }

    .ct1-c1 h1 {
        font-size:1.2rem;
    }

    .image {
        width:50%;
    }

    .ct1-c1 i {
        margin-bottom: 1rem;
    }
   
}

@media screen and (min-width:1000px){

    .dropdown {
        display:none !important;
    }


 
}